# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# Fly.io
fly.toml.local